.aguacate{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aguacatero{
    background-color: rgba(189, 130, 243, 0.637);
    margin-left:60px;
    align-items: center;
    width: 300px;
}

.caja{
    width: 400px;
    height: 600px;
    background-color: bisque;
    margin-left: 12px;
    border: solid;
    display: flex;
}

.chisme{
    text-align: center;
    color: rgb(58, 54, 54);
    display: flex;
}

.carousel-slide{
    padding: 10px;
}

.card-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

